@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proxima-nova-light.eot');
    src: url('../fonts/proxima-nova-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-light.woff') format('woff'),
         url('../fonts/proxima-nova-light.ttf') format('truetype'),
         url('../fonts/proxima-nova-light.svg#proximanova-light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova-regular.eot');
  src: url('../fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proxima-nova-regular.woff') format('woff'),
       url('../fonts/proxima-nova-regular.ttf') format('truetype'),
       url('../fonts/proxima-nova-regular.svg#proximanova-regular') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proxima-nova-regular.eot');
    src: url('../fonts/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-regular.woff') format('woff'),
         url('../fonts/proxima-nova-regular.ttf') format('truetype'),
         url('../fonts/proxima-nova-regular.svg#proximanova-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-medium';
    src: url('../fonts/proxima-nova-medium.eot');
    src: url('../fonts/proxima-nova-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-medium.woff') format('woff'),
         url('../fonts/proxima-nova-medium.ttf') format('truetype'),
         url('../fonts/proxima-nova-medium.svg#proximanova-medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proximanova-bold';
    src: url('../fonts/proxima-nova-bold.eot');
    src: url('../fonts/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima-nova-bold.woff') format('woff'),
         url('../fonts/proxima-nova-bold.ttf') format('truetype'),
         url('../fonts/proxima-nova-bold.svg#proximanova-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaNeue';
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue.woff') format('woff'),
         url('../fonts/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/HelveticaNeue.svg#helveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticaNeue-bold';
    src: url('../fonts/HelveticaNeueBd.eot');
    src: url('../fonts/HelveticaNeueBd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueBd.woff') format('woff'),
         url('../fonts/HelveticaNeueBd.ttf') format('truetype'),
         url('../fonts/HelveticaNeueBd.svg#helveticaNeue-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
	  url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), 
	  url("../fonts/glyphicons-halflings-regular.woff") format("woff"), 
	  url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), 
	  url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* fontface */
@font-face {
     font-family: 'Conv_BMSHumanity-Thin';
     // src: url('../fonts/BMSHumanity-Thin.eot');
     src: url('../fonts/bms/BMSHumanity-Thin.eot');
     src: local('☺'), url('../fonts/bms/BMSHumanity-Thin.woff') format('woff'), url('../fonts/bms/BMSHumanity-Thin.ttf') format('truetype'), url('../fonts/bms/BMSHumanity-Thin.svg') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'Conv_BMSHumanity-Regular';
     src: url('../fonts/BMSHumanity-Regular.eot');
     src: local('☺'), url('../fonts/bms/BMSHumanity-Regular.woff') format('woff'), url('../fonts/bms/BMSHumanity-Regular.ttf') format('truetype'), url('../fonts/bms/BMSHumanity-Regular.svg') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'Conv_BMSHumanity-Bold';
     src: url('../fonts/bms/BMSHumanity-Bold.eot');
     src: local('☺'), url('../fonts/bms/BMSHumanity-Bold.woff') format('woff'), url('../fonts/bms/BMSHumanity-Bold.ttf') format('truetype'), url('../fonts/bms/BMSHumanity-Bold.svg') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 

/*IE*/

// @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light.woff') format('woff');
//   }
  
  
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-Regular.woff') format('woff');
//   }
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium.woff') format('woff');
//   }
//   /* FOr Regular */
//   /* cyrillic */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-regular-cyrillic.woff2') format('woff2');
//     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//   }
//   /* hebrew */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-Regular.woff2') format('woff2');
//     unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
//   }
//   /* latin-ext */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-regular-latin.woff2') format('woff2');
//     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
//   }
//   /* latin */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-regular-latin.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
//   }
  /* FOr Light */
  /* cyrillic */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light-cyrillic.woff2') format('woff2');
//     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//   }
//   /* hebrew */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light.woff2') format('woff2');
//     unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
//   }
//   /* latin-ext */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light-latin.woff2') format('woff2');
//     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
//   }
//   /* latin */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light-latin.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
//   }
//   /* FOr Medium */
//   /* cyrillic */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium-cyrillic.woff2') format('woff2');
//     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//   }
//   /* hebrew */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium.woff2') format('woff2');
//     unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
//   }
//   /* latin-ext */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../../../content/studyconnect/bms/fonts/bmsredesign/BMSHumanity-medium-latin.woff2') format('woff2');
//     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
//   }
//   /* latin */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium-latin.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
//   }/*IE*/

// @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light.woff') format('woff');
//   }
  
  
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-Regular.woff') format('woff');
//   }
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium.woff') format('woff');
//   }
//   /* FOr Regular */
//   /* cyrillic */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-regular-cyrillic.woff2') format('woff2');
//     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//   }
//   /* hebrew */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-Regular.woff2') format('woff2');
//     unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
//   }
//   /* latin-ext */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-regular-latin.woff2') format('woff2');
//     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
//   }
//   /* latin */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 400;
//     src: local('BMSHumanity'), local('BMSHumanity-Regular'), url('../fonts/bms/BMSHumanity-regular-latin.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
//   }
//   /* FOr Light */
//   /* cyrillic */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light-cyrillic.woff2') format('woff2');
//     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//   }
//   /* hebrew */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light.woff2') format('woff2');
//     unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
//   }
//   /* latin-ext */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light-latin.woff2') format('woff2');
//     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
//   }
//   /* latin */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 300;
//     src: local('BMSHumanity'), local('BMSHumanity-Light'), url('../fonts/bms/BMSHumanity-light-latin.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
//   }
//   /* FOr Medium */
//   /* cyrillic */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium-cyrillic.woff2') format('woff2');
//     unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
//   }
//   /* hebrew */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium.woff2') format('woff2');
//     unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
//   }
//   /* latin-ext */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../../../content/studyconnect/bms/fonts/bmsredesign/BMSHumanity-medium-latin.woff2') format('woff2');
//     unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
//   }
//   /* latin */
//   @font-face {
//     font-family: 'BMSHumanity';
//     font-style: normal;
//     font-weight: 500;
//     src: local('BMSHumanity Medium'), local('BMSHumanity-Medium'), url('../fonts/bms/BMSHumanity-medium-latin.woff2') format('woff2');
//     unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
//   }