@import "fonts";

/* colors */
$primary-color: #ff3b45;
$primary-color2: #fd495c;
$primary-color3: #ec4d4d;
$primary-color4: #e71d1d;

$white-color: #fff;
$black-color: #000;

$brown-color1: #9a8977;
$brown-color2: #9b8a78;
$brown-color3: #8e7a6b;

$gray-color: #595454;
$gray-color1: #3c3c3c;
$gray-color2: #5d5d5d;
$gray-color3: #a3a3a3;
$gray-color4: #373939;
$gray-color5: #5c5c5c;
$gray-color6: #2e302f;
$gray-color7: #7d7d7d;
$gray-color8: #acacac;
$gray-color9: #b9b9b9;
$gray-color10: #a2a2a2;
$gray-color11: #ececec;
$gray-color12: #d8d8d8;
$gray-color13: #c4c4c4;
$gray-color14: #595454;
$gray-color15: #a69f9f;
$darkgrey-color: #1d1e1e;
$medium-gray: #404141;
$light-gray: #eee7e7;
$light-gray2: #f4f4f4;

$blue-color1: #54bceb;
$blue-color2: #2cabe2;
$blue-color3: #2caae0;
$blue-color4: #1c4e72;
$blue-color5: #1c4e77;
$filter-bg:#dfdfdf;

$purple-color1: #be2bbb;

$path-images: '../images';

 /* font-family and color variables */
 $BMSHumanityThin: 'Conv_BMSHumanity-Thin';
 $BMSHumanityReg: 'Conv_BMSHumanity-Regular';
 $BMSHumanityBold: 'Conv_BMSHumanity-Bold';
 
/* font family */
$helveticaNeue : 'helveticaNeue';
$helveticaNeueBold : 'helveticaNeue-bold';
