@charset "UTF-8";
/* Reset */
/* line 2, ../scss/style.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 4, ../scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* fontface */
@font-face {
  font-family: 'Conv_BMSHumanity-Thin';
  src: url("../fonts/BMSHumanity-Thin.eot");
  src: local("Γÿ║"), url("../fonts/BMSHumanity-Thin.woff") format("woff"), url("../fonts/BMSHumanity-Thin.ttf") format("truetype"), url("../fonts/BMSHumanity-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BMSHumanity-Regular';
  src: url("../fonts/BMSHumanity-Regular.eot");
  src: local("Γÿ║"), url("../fonts/BMSHumanity-Regular.woff") format("woff"), url("../fonts/BMSHumanity-Regular.ttf") format("truetype"), url("../fonts/BMSHumanity-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_BMSHumanity-Bold';
  src: url("../fonts/BMSHumanity-Bold.eot");
  src: local("Γÿ║"), url("../fonts/BMSHumanity-Bold.woff") format("woff"), url("../fonts/BMSHumanity-Bold.ttf") format("truetype"), url("../fonts/BMSHumanity-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* font-family and color variables */
/* main style */
/* line 39, ../scss/style.scss */
body {
  font-family: "Conv_BMSHumanity-Regular";
  color: #595454;
  background: #f4f4f4;
}

/* line 45, ../scss/style.scss */
.wrapper {
  width: 100%;
}

/* line 49, ../scss/style.scss */
.container {
  max-width: 976px;
}

/* line 53, ../scss/style.scss */
header {
  width: 100%;
  height: 84px;
  background-image: linear-gradient(to bottom, #f4f0ee, #f8f3f1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 3.5%;
}
/* line 63, ../scss/style.scss */
header .logo {
  float: left;
  display: block;
  text-decoration: none;
  margin: 25px 20px 0 0;
}
/* line 70, ../scss/style.scss */
header .mainNav {
  float: left;
  padding: 36px 0 0 0;
}
/* line 74, ../scss/style.scss */
header .mainNav ul {
  float: left;
  display: block;
  width: auto;
}
/* line 79, ../scss/style.scss */
header .mainNav ul li {
  float: left;
  display: block;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.31px;
  color: #595454;
  padding: 0 18px;
}
/* line 88, ../scss/style.scss */
header .mainNav ul li a {
  color: #595454;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  display: block;
  padding: 2px 0;
}
/* line 95, ../scss/style.scss */
header .mainNav ul li a:focus {
  color: #595454;
  text-decoration: none;
}
/* line 100, ../scss/style.scss */
header .mainNav ul li a.active, header .mainNav ul li a:hover {
  color: #be2bbb;
  border-bottom: 3px solid #be2bbb;
}
/* line 109, ../scss/style.scss */
header .learnMoreLink {
  float: right;
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Regular";
  text-decoration: none;
  position: relative;
  padding: 0 22px 0 0;
  margin: 38px 0 0 0;
}
/* line 121, ../scss/style.scss */
header .learnMoreLink:after {
  width: 16px;
  height: 16px;
  background: url(../images/externalLink.png) no-repeat right top/100%;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
/* line 132, ../scss/style.scss */
header .learnMoreLink:hover {
  color: #be2bbb;
}

/* line 138, ../scss/style.scss */
#content {
  margin-top: 84px;
  min-height: 1000px;
}

/* line 143, ../scss/style.scss */
.gradientBg {
  background-image: linear-gradient(to bottom, #f8f3f1, #e4d3cc);
}

/* line 147, ../scss/style.scss */
.thankYouBx {
  width: 100%;
}
/* line 150, ../scss/style.scss */
.thankYouBx .container {
  position: relative;
  min-height: 262px;
}
/* line 155, ../scss/style.scss */
.thankYouBx .thankYouLftCol {
  padding: 30px 0 0 0;
}
/* line 159, ../scss/style.scss */
.thankYouBx h3 {
  font-size: 46px;
  line-height: 48px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Thin";
  letter-spacing: 0.8px;
  padding: 0 0 12px;
}
/* line 168, ../scss/style.scss */
.thankYouBx p {
  font-size: 18px;
  line-height: 28px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Bold";
  letter-spacing: 0.31px;
}
/* line 176, ../scss/style.scss */
.thankYouBx .ladyImage {
  width: 36%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 184, ../scss/style.scss */
footer {
  width: 100%;
  padding: 80px 10% 50px;
  background: #eee7e7;
}
/* line 189, ../scss/style.scss */
footer .footerLogo {
  float: left;
  display: block;
  margin: 0 30px 0 0;
}
/* line 195, ../scss/style.scss */
footer .footerLinks {
  float: left;
  display: block;
  padding: 17px 0 0 0;
}
/* line 200, ../scss/style.scss */
footer .footerLinks li {
  float: left;
  display: block;
  padding: 0 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.24px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Regular";
}
/* line 210, ../scss/style.scss */
footer .footerLinks li a {
  display: block;
  text-decoration: none;
  color: #595454;
}
/* line 215, ../scss/style.scss */
footer .footerLinks li a:hover {
  color: #be2bbb;
}
/* line 222, ../scss/style.scss */
footer .copyRightTxt {
  font-size: 12px;
  line-height: 14px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Regular";
  float: right;
  display: block;
  letter-spacing: 0.21px;
  padding: 18px 0 0 0;
}

/* line 234, ../scss/style.scss */
.pipelineCont1 {
  width: 100%;
  padding: 40px 0 20px;
}
/* line 238, ../scss/style.scss */
.pipelineCont1 h4 {
  font-size: 20px;
  line-height: 20px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Bold";
  letter-spacing: 0.35px;
  padding: 0 0 10px;
}
/* line 247, ../scss/style.scss */
.pipelineCont1 p {
  font-size: 14px;
  line-height: 18px;
  color: #595454;
  letter-spacing: 0.25px;
  font-family: "Conv_BMSHumanity-Regular";
  padding: 0 0 20px;
}

/* line 259, ../scss/style.scss */
.pipelineTab .tab-thumb {
  width: 100%;
  float: left;
  display: block;
  position: relative;
  padding: 0 4px;
  margin: 0 0 20px;
}
/* line 267, ../scss/style.scss */
.pipelineTab .tab-thumb:after {
  width: 100%;
  height: 6px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #be2bbb;
  border-radius: 10px;
  content: "";
}
/* line 278, ../scss/style.scss */
.pipelineTab .tab-thumb li {
  width: 50%;
  float: left;
  display: block;
}
/* line 283, ../scss/style.scss */
.pipelineTab .tab-thumb li:first-child {
  padding: 0 15px 0 0;
}
/* line 287, ../scss/style.scss */
.pipelineTab .tab-thumb li:last-child {
  padding: 0 0 0 15px;
}
/* line 291, ../scss/style.scss */
.pipelineTab .tab-thumb li a {
  display: block;
  height: 45px;
  background: #d2cac8;
  border-radius: 8px 8px 0 0;
  text-align: center;
  border: 2px solid #d2cac8;
  border-bottom: none;
  font-size: 18px;
  line-height: 18px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Bold";
  letter-spacing: 0.31px;
  padding-top: 11px;
  text-decoration: none;
}
/* line 309, ../scss/style.scss */
.pipelineTab .tab-thumb li.active a {
  border-color: #be2bbb;
  color: #be2bbb;
  background: #eee7e7;
}
/* line 320, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx {
  padding: 0 0 20px;
}
/* line 323, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterByTxt {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.24px;
  font-family: "Conv_BMSHumanity-Regular";
  color: #595454;
  padding: 10px 12px 0 0;
}
/* line 334, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills {
  float: left;
  display: block;
}
/* line 338, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li {
  float: left;
  display: block;
  position: relative;
  padding: 0 12px 0 0;
}
/* line 344, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .pillsLink {
  display: block;
  text-decoration: none;
  height: 34px;
  border-radius: 17px;
  border: solid 1px #a69f9f;
  background-color: #ffffff;
  padding: 7px 15px 0;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.28px;
  color: #595454;
}
/* line 357, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .pillsLink.active {
  background: #be2bbb;
  color: #fff;
}
/* line 363, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown {
  width: 224px;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(89, 84, 84, 0.24);
  border: solid 1px #d2cac8;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
  z-index: 9;
  display: none;
}
/* line 378, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown label {
  display: block;
  clear: both;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.24px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Regular";
  margin: 0 0 14px;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}
/* line 393, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(../images/checkboxSprite.png) no-repeat left top;
  display: block;
}
/* line 404, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 1px solid #a69f9f;
  border-radius: 3px;
  margin: 0 7px 0 0;
  float: left;
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
/* line 417, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown input[type="checkbox"]:checked ~ .checkmark {
  background: url(../images/checkboxSprite.png) no-repeat left -16px;
}
/* line 422, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown .clearAllLink {
  margin: 0;
  display: inline-block;
  float: none;
}
/* line 431, ../scss/style.scss */
.pipelineTab .tab-content .filterByBx .clearAllLink {
  float: left;
  display: block;
  font-size: 14px;
  line-height: 14px;
  color: #be2bbb;
  letter-spacing: 0.24px;
  text-decoration: underline;
  margin: 10px 0 0 0;
}
/* line 444, ../scss/style.scss */
.pipelineTab .tab-content .filterPillsSelected {
  padding: 0 0 0 64px;
}
/* line 447, ../scss/style.scss */
.pipelineTab .tab-content .filterPillsSelected a {
  display: inline-block;
  height: 30px;
  border-radius: 17px;
  background-color: #a69f9f;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  letter-spacing: 0.24px;
  font-family: "Conv_BMSHumanity-Regular";
  padding: 7px 10px 0;
  margin: 0 12px 20px 0;
  cursor: pointer;
}
/* line 464, ../scss/style.scss */
.pipelineTab .tab-content .cardHeadBx {
  padding: 0 15px 15px;
}
/* line 467, ../scss/style.scss */
.pipelineTab .tab-content .cardHeadBx .cardHeadTxt {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.28px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Bold";
  display: block;
}
/* line 477, ../scss/style.scss */
.pipelineTab .tab-content .width1 {
  float: left;
  display: block;
  width: 37%;
  position: relative;
  padding: 0 15px 0 18px;
}
/* line 485, ../scss/style.scss */
.pipelineTab .tab-content .width2 {
  float: left;
  display: block;
  width: 22%;
  padding: 0 15px 0 0;
}
/* line 492, ../scss/style.scss */
.pipelineTab .tab-content .width3 {
  float: left;
  display: block;
  width: 27%;
  padding: 0 15px 0 0;
}
/* line 499, ../scss/style.scss */
.pipelineTab .tab-content .width4 {
  float: left;
  display: block;
  width: 14%;
}
/* line 505, ../scss/style.scss */
.pipelineTab .tab-content .card {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(89, 84, 84, 0.15);
  background-color: #ffffff;
  margin: 0 0 20px 0;
  padding: 20px 15px;
  overflow: hidden;
}
/* line 515, ../scss/style.scss */
.pipelineTab .tab-content .card .cardContent {
  width: 100%;
}
.pipelineTab .tab-content .card .cardContent .additionalComponents{
 display: none;
}
/* line 519, ../scss/style.scss */
.pipelineTab .tab-content .card .cardNoResult {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.31px;
  color: #a69f9f;
  padding: 80px 0;
  display: none;
}
/* line 529, ../scss/style.scss */
.pipelineTab .tab-content .card .cardTitle {
  font-size: 18px;
  line-height: 18px;
  color: #be2bbb;
  letter-spacing: 0.31px;
  font-family: "Conv_BMSHumanity-Bold";
  padding: 0 0 16px 18px;
}
/* line 540, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow {
  width: 100%;
  margin: 0 0 18px 0;
}
/* line 545, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseRowTxt {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Regular";
}
/* line 552, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseRowTxt strong {
  font-family: "Conv_BMSHumanity-Bold";
}
/* line 557, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseIndicatorBg {
  width: 100%;
  max-width: 118px;
  height: 14px;
  display: block;
  background: #fff;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-top: 2px;
}
/* line 567, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseIndicatorBg .phaseIndicatorCount {
  background: #be2bbb;
  text-align: right;
  height: 14px;
  display: block;
  float: left;
  border-radius: 15px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  padding: 0 5px;
}
/* line 579, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseIndicatorBg .phaseIndicatorCount.indicatorOne {
  width: 33.33%;
}
/* line 583, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseIndicatorBg .phaseIndicatorCount.indicatorTwo {
  width: 66.66%;
}
/* line 587, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseIndicatorBg .phaseIndicatorCount.indicatorThree {
  width: 100%;
}
/* line 593, ../scss/style.scss */
.pipelineTab .tab-content .card .phaseContainer .phaseRow .trialImg {
  width: 17px;
  position: absolute;
  top: 1px;
  left: 0;
}
/* line 604, ../scss/style.scss */
.pipelineTab .tab-content .card .viewDisplayBx {
  text-align: center;
  /* display: none; */
}
/* line 608, ../scss/style.scss */
.pipelineTab .tab-content .card .viewDisplayBx .viewAllBut {
  display: inline-block;
  text-decoration: none;
  width: 98px;
  height: 34px;
  border-radius: 8px;
  border: solid 2px #be2bbb;
  background-color: #ffffff;
  letter-spacing: 0.18px;
  font-family: "Conv_BMSHumanity-Regular";
  font-size: 16px;
  line-height: 18px;
  color: #be2bbb;
  padding: 6px 0 0 0;
  margin: 0 0 10px;
}
.pipelineTab .tab-content .card .viewDisplayBx .viewAllBut.active{
  color: #FFF;
  background-color: #be2bbb;
}
/* line 625, ../scss/style.scss */
.pipelineTab .tab-content .card .viewDisplayBx .displayTxt {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #595454;
  letter-spacing: 0.21px;
  font-family: "Conv_BMSHumanity-Regular";
}
/* line 637, ../scss/style.scss */
.pipelineTab .tab-content .footnoteBx {
  padding: 10px 0 30px;
}
/* line 640, ../scss/style.scss */
.pipelineTab .tab-content .footnoteBx .footnoteTrialImg {
  display: inline-block;
  vertical-align: middle;
}
/* line 644, ../scss/style.scss */
.pipelineTab .tab-content .footnoteBx p {
  font-size: 12px;
  line-height: 16px;
  color: #595454;
  letter-spacing: 0.21px;
  padding: 0 0 8px;
  font-family: "Conv_BMSHumanity-Regular";
}
/* line 652, ../scss/style.scss */
.pipelineTab .tab-content .footnoteBx p .symbolBx {
  width: 7px;
  display: inline-block;
}

/* line 662, ../scss/style.scss */
#backToTop {
  width: 44px;
  height: 44px;
  background: url(../images/backtotop.png) no-repeat left top/100%;
  display: none;
  position: fixed;
  bottom: 140px;
  right: 10%;
  z-index: 99;
}

/* line 673, ../scss/style.scss */
.abstractListBx {
  width: 100%;
  padding: 35px 0;
}
/* line 677, ../scss/style.scss */
.abstractListBx h3 {
  font-size: 46px;
  line-height: 46px;
  letter-spacing: 0.8px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Thin";
  padding: 0 0 12px;
}

/* line 687, ../scss/style.scss */
.imageTxtBx {
  width: 100%;
  max-width: 380px;
  position: relative;
}
/* line 692, ../scss/style.scss */
.imageTxtBx .imagePlaceholder {
  background: url(../images/img-placeholder.png) no-repeat left top/100%;
  width: 100px;
  height: 129px;
  float: left;
  margin: 0 20px 0 0;
}
/* line 700, ../scss/style.scss */
.imageTxtBx .imageTxt {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.31px;
  color: #be2bbb;
  font-family: "Conv_BMSHumanity-Bold";
}
/* line 707, ../scss/style.scss */
.imageTxtBx .imageTxt a {
  color: #be2bbb;
  text-decoration: none;
}
/* line 713, ../scss/style.scss */
.imageTxtBx .downloadBut {
  width: 122px;
  position: absolute;
  bottom: 0;
  left: 120px;
}

/* line 721, ../scss/style.scss */
.keyPathwayBx {
  width: 100%;
  padding: 40px 0;
}
/* line 725, ../scss/style.scss */
.keyPathwayBx h6 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.35px;
  color: #595454;
  font-family: "Conv_BMSHumanity-Bold";
  position: relative;
  padding: 0 0 22px;
  margin: 0 0 40px;
}
/* line 735, ../scss/style.scss */
.keyPathwayBx h6:after {
  width: 100%;
  height: 6px;
  background: #be2bbb;
  content: "";
  border-radius: 15px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 748, ../scss/style.scss */
.keyPathwayBx .keyPathwayList {
  width: 100%;
  float: left;
  display: block;
}
/* line 753, ../scss/style.scss */
.keyPathwayBx .keyPathwayList li {
  width: 50%;
  float: left;
  display: block;
  padding-bottom: 30px;
}
/* line 759, ../scss/style.scss */
.keyPathwayBx .keyPathwayList li:nth-child(odd) {
  padding-right: 15px;
}
/* line 763, ../scss/style.scss */
.keyPathwayBx .keyPathwayList li:nth-child(even) {
  padding-left: 15px;
}
/* line 767, ../scss/style.scss */
.keyPathwayBx .keyPathwayList li .imageTxtBx {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 14px 0 rgba(89, 84, 84, 0.15);
  background-color: #ffffff;
  padding: 20px;
}
/* line 774, ../scss/style.scss */
.keyPathwayBx .keyPathwayList li .imageTxtBx .downloadBut {
  bottom: 20px;
  left: 140px;
}

/* Responsive */
@media (min-width: 992px) and (max-width: 1200px) {
  /* line 785, ../scss/style.scss */
  header {
    padding: 0 25px;
  }

  /* line 789, ../scss/style.scss */
  footer {
    padding: 80px 50px 50px;
  }
}
@media (max-width: 991px) {
  /* line 795, ../scss/style.scss */
  header {
    padding: 0 25px;
    height: 90px;
  }
  /* line 799, ../scss/style.scss */
  header .logo {
    width: 200px;
    margin-top: 14px;
  }
  /* line 804, ../scss/style.scss */
  header .mainNav {
    width: auto;
    clear: both;
    margin: 0 -15px;
    float: none;
    padding: 8px 0 0 0;
    border-top: 1px solid #eee7e7;
  }
  /* line 812, ../scss/style.scss */
  header .mainNav ul {
    width: 100%;
    text-align: center;
  }
  /* line 816, ../scss/style.scss */
  header .mainNav ul li {
    float: none;
    display: inline-block;
  }
  /* line 823, ../scss/style.scss */
  header .learnMoreLink {
    margin-top: 7px;
    margin-bottom: 7px;
  }

  /* line 829, ../scss/style.scss */
  #content {
    margin-top: 90px;
  }

  /* line 834, ../scss/style.scss */
  .thankYouBx .container {
    min-height: 100px;
  }
  /* line 838, ../scss/style.scss */
  .thankYouBx .thankYouLftCol {
    padding-bottom: 30px;
  }

  /* line 843, ../scss/style.scss */
  footer {
    padding: 15px 30px;
  }
  /* line 846, ../scss/style.scss */
  footer .footerLogo {
    width: 155px;
    margin: 36px 0 0 0;
  }
  /* line 851, ../scss/style.scss */
  footer .footerLinks {
    width: 50%;
    float: right;
    padding: 0;
  }
  /* line 856, ../scss/style.scss */
  footer .footerLinks li {
    width: 100%;
    padding: 10px;
    line-height: 14px;
  }
  /* line 863, ../scss/style.scss */
  footer .copyRightTxt {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 10px 0 0 0;
  }
}
@media (max-width: 767px) {
  /* line 873, ../scss/style.scss */
  header {
    padding: 0 15px;
  }
  /* line 876, ../scss/style.scss */
  header .logo {
    width: 155px;
  }
  /* line 880, ../scss/style.scss */
  header .mainNav {
    padding-top: 12px;
  }
  /* line 884, ../scss/style.scss */
  header .learnMoreLink {
    margin-top: 7px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
  }

  /* line 893, ../scss/style.scss */
  .thankYouBx p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.28px;
  }
  /* line 899, ../scss/style.scss */
  .thankYouBx .thankYouLftCol {
    padding: 30px 15px;
  }

  /* line 904, ../scss/style.scss */
  footer {
    padding: 15px;
  }

  /* line 908, ../scss/style.scss */
  .pipelineCont1 {
    padding: 30px 15px 10px;
  }
  /* line 911, ../scss/style.scss */
  .pipelineCont1 h4 {
    line-height: 26px;
  }

  /* line 919, ../scss/style.scss */
  .pipelineTab .tab-thumb li:first-child {
    padding-right: 6px;
  }
  /* line 922, ../scss/style.scss */
  .pipelineTab .tab-thumb li:last-child {
    padding-left: 6px;
  }
  /* line 930, ../scss/style.scss */
  .pipelineTab .tab-content .card .cardTitle {
    padding-left: 0;
  }
  /* line 934, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow {
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #eee7e7;
  }
  /* line 939, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow:last-child {
    border: none;
    margin: 0 0 20px;
    padding: 0;
  }
  /* line 945, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow .trialImg {
    width: auto;
    position: static;
    display: inline-block;
    vertical-align: middle;
  }
  /* line 952, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseRowTxt strong {
    margin: 0 5px 1px 0;
    float: left;
    display: block;
  }
  /* line 958, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow .width1 {
    padding: 0 0 5px 0;
  }
  /* line 961, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow .width1 .phaseRowTxt {
    font-family: "Conv_BMSHumanity-Bold";
  }
  /* line 965, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow .width2, .pipelineTab .tab-content .card .phaseContainer .phaseRow .width3, .pipelineTab .tab-content .card .phaseContainer .phaseRow .width4 {
    padding: 0 0 5px 30px;
  }
  /* line 968, ../scss/style.scss */
  .pipelineTab .tab-content .card .phaseContainer .phaseRow .phaseIndicatorBg {
    width: 118px;
    display: inline-block;
  }
  /* line 975, ../scss/style.scss */
  .pipelineTab .tab-content .width1, .pipelineTab .tab-content .width2, .pipelineTab .tab-content .width3, .pipelineTab .tab-content .width4 {
    width: 100%;
  }
  /* line 978, ../scss/style.scss */
  .pipelineTab .tab-content .filterPillsSelected {
    padding: 0;
  }
  /* line 981, ../scss/style.scss */
  .pipelineTab .tab-content .filterPillsSelected a {
    margin-bottom: 8px;
  }
  /* line 985, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx {
    padding-bottom: 8px;
  }
  /* line 988, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .clearAllLink {
    float: right;
    margin-top: 12px;
  }
  /* line 992, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterMobPill {
    height: 43px;
    border-radius: 21.5px;
    border: solid 1px #a69f9f;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.28px;
    color: #595454;
    float: left;
    padding: 12px 12px 0;
    text-decoration: none;
  }
  /* line 1005, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }
  /* line 1013, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li {
    width: 100%;
    padding: 0;
  }
  /* line 1017, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .pillsLink {
    display: none;
  }
  /* line 1021, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .mobButton {
    margin: 30px -15px 0;
    overflow: hidden;
  }
  /* line 1025, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .mobButton .whiteButton {
    width: 160px;
    height: 44px;
    border-radius: 8px;
    border: solid 2px #be2bbb;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.18px;
    font-family: "Conv_BMSHumanity-Regular";
    color: #be2bbb;
    float: left;
    display: block;
    padding-top: 10px;
    text-decoration: none;
  }
  /* line 1042, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .mobButton .pinkButton {
    width: 160px;
    height: 44px;
    border-radius: 8px;
    border: solid 2px #be2bbb;
    background-color: #be2bbb;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.18px;
    font-family: "Conv_BMSHumanity-Regular";
    color: #fff;
    float: right;
    display: block;
    padding-top: 10px;
    text-decoration: none;
  }
  /* line 1061, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown {
    position: static;
    width: 100%;
    display: block;
    margin: 0;
    padding: 15px 30px;
  }
  /* line 1068, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown.therapeuticAreaFilter {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
  }
  /* line 1072, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown.phaseFilter {
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    box-shadow: none;
    padding-top: 0;
  }
  /* line 1080, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown h6 {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.28px;
    color: #595454;
    font-family: "Conv_BMSHumanity-Regular";
    text-align: left;
    border-bottom: 1px solid #eee7e7;
    padding: 0 15px 12px;
    margin: 0 -15px 12px;
  }
  /* line 1092, ../scss/style.scss */
  .pipelineTab .tab-content .filterByBx .filterPills li .filterPillsDropdown h5 {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.28px;
    color: #be2bbb;
    font-family: "Conv_BMSHumanity-Bold";
    padding: 0 0 18px;
    text-align: left;
  }

  /* line 1108, ../scss/style.scss */
  #cardContainer {
    margin-top: 12px;
  }

  /* line 1112, ../scss/style.scss */
  #backToTop {
    bottom: 132px;
  }

  /* line 1118, ../scss/style.scss */
  .keyPathwayBx .keyPathwayList li {
    width: 100%;
    padding: 0 0 15px;
  }
  /* line 1122, ../scss/style.scss */
  .keyPathwayBx .keyPathwayList li:nth-child(odd), .keyPathwayBx .keyPathwayList li:nth-child(even) {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 1131, ../scss/style.scss */
  .abstractListBx h3 {
    line-height: 52px;
    padding: 0 0 20px;
  }
}
