---
layout: default
pageName: pipeline
---

<div class="thankYouBx gradientBg">
    <div class="container">
        <div class="col-xs-12 col-md-11 thankYouLftCol">
            <div class="dispTable">
                <div class="dispTableCell verticalMiddle">
                    <h3>{{site.data.pipeline.banner.banner-heading}}</h3>
                    <p>{{site.data.pipeline.banner.banner-para}}</p>
                </div>
            </div>
        </div>

        <span class="bannerImage hidden-xs hidden-sm">
            <img
                src="{{site.data.pipeline.banner.banner-image}}"
                width="246"
                height="257"
                alt=""
                class="img-responsive"
            />
        </span>
    </div>
</div>

<!-- content box1 start -->
<div class="pipelineCont1">
    <div class="container">
        {{site.data.pipeline.sthp-content | markdownify}}
    </div>
</div>
<!-- content box1 end -->

<!-- tabSection start -->
<div class="container">
    <div class="pipelineTab">
        <!-- Tab Thumb -->
        <ul class="tab-thumb">
            {% for item in site.data.pipeline.tab.tab-info %}
            <li class="nav-item {% if forloop.first == true %} active{% endif %}">
                <a class="nav-link" data-toggle="tab" href="#tab{{ forloop.index0 }}">
                    <span class="lftBg">
                        <span class="rhtBg">
                            <span class="midBg">
                                {{item.tab-header}}
                            </span>
                        </span>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for item in site.data.pipeline.tab.tab-info %}
            <div class="tab-pane fade {% if forloop.first == true %}in active{% endif %}" id="tab{{ forloop.index0 }}">            

                <div class="filterByBx">
                    <span class="filterByTxt hidden-xs">Filter by:</span>
                    <a
                        href="javascript:;"
                        class="visible-xs-inline-block filterMobPill"
                        >Filter by Therapeutic Area and Phase</a
                    >
                    <ul class="filterPills">
                        <li>
                            <a href="javascript:;" class="pillsLink"
                                >Therapeutic Area</a
                            >
                            <div
                                class="
                                    filterPillsDropdown
                                    therapeuticAreaFilter
                                "
                            >
                                <h6 class="visible-xs">
                                    Filter by Therapeutic Area and Phase:
                                </h6>
                                <h5 class="visible-xs">Therapeutic Area</h5>
                                <label>
                                    <span class="textValue"
                                        >Advanced Solid Tumors</span
                                    >
                                    <input
                                        type="checkbox"
                                        value=".advanced-solid-tumors"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue">Breast</span>
                                    <input type="checkbox" value=".breast" />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue"
                                        >Central Nervous System</span
                                    >
                                    <input
                                        type="checkbox"
                                        value=".central-nervous-system"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue"
                                        >Gastrointestinal</span
                                    >
                                    <input
                                        type="checkbox"
                                        value=".gastrointestinal"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue">Genitourinary</span>
                                    <input
                                        type="checkbox"
                                        value=".genitourinary"
                                    />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue"
                                        >Head &amp; Neck</span
                                    >
                                    <input type="checkbox" value=".head-neck" />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue">Lung</span>
                                    <input type="checkbox" value=".lung" />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue">Melanoma</span>
                                    <input type="checkbox" value=".melanoma" />
                                    <span class="checkmark"></span>
                                </label>

                                <a
                                    href="javascript:;"
                                    class="clearAllLink hidden-xs"
                                    >Clear All</a
                                >
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;" class="pillsLink">Phase</a>
                            <div class="filterPillsDropdown phaseFilter">
                                <h5 class="visible-xs">Phase</h5>
                                <label>
                                    <span class="textValue">Phase 1</span>
                                    <input type="checkbox" value=".phase-1" />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue">Phase 2</span>
                                    <input type="checkbox" value=".phase-2" />
                                    <span class="checkmark"></span>
                                </label>
                                <label>
                                    <span class="textValue">Phase 3</span>
                                    <input type="checkbox" value=".phase-3" />
                                    <span class="checkmark"></span>
                                </label>

                                <a
                                    href="javascript:;"
                                    class="clearAllLink hidden-xs"
                                    >Clear All</a
                                >

                                <div class="visible-xs mobButton">
                                    <a
                                        href="javascript:;"
                                        class="
                                            whiteButton
                                            mobileFilter
                                            cancelFilter
                                        "
                                        >Cancel</a
                                    >
                                    <a
                                        href="javascript:;"
                                        class="
                                            pinkButton
                                            mobileFilter
                                            applyFilter
                                        "
                                        >Apply Filters</a
                                    >
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a href="javascript:;" class="clearAllLink resetfilter"
                        >Clear All</a
                    >
                    <div class="toggle-filter">
                        <div class="view-selected-only diseaseFilter switch">
                            <input
                                type="checkbox"
                                name="disease-only"
                                id="diseaseOnly"
                                class="diseaseOnly"
                                value=".early-disease-trails"
                            />
                            <label for="diseaseOnly" class="btn-switch">
                                Trials in earlier stages of cancer only*
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="filterPillsSelected">
                    <span class="output"></span>
                </div>

                <div class="cardHeadBx hidden-xs">
                    <span class="width1"
                        ><span class="cardHeadTxt">&nbsp;</span></span
                    >
                    <span class="width2"
                        ><span class="cardHeadTxt">Modality</span></span
                    >
                    <span class="width3"
                        ><span class="cardHeadTxt">Area of Research</span></span
                    >
                    <span class="width4"
                        ><span class="cardHeadTxt">Phase</span></span
                    >
                    <div class="clearfix"></div>
                </div>

                <div class="cardContainer">

                    {% for cardItem in item.tab-card-container.tab-card %}    
                    <div class="card {{cardItem.card-title | downcase | replace: ' ', '-'}}" data-ta="{{cardItem.card-title | downcase | replace: ' ', '-'}}">
                        <div class="cardContent">
                            <h6 class="cardTitle">{{cardItem.card-title}}</h6>
                            <div class="phaseContainer">
                                {% for phaseRow in cardItem.phase-row %}
                                <div class="phaseRow phaseItem phase-1 phase-2">
                                    <div class="diseaseContainer">
                                        <div class="diseaseRow diseaseItem">
                                            <span class="width1">
                                                <span class="phaseRowTxt"
                                                    >{{phaseRow.phase-col1}}</span
                                                >
                                            </span>
                                            <span class="width2">
                                                <span class="phaseRowTxt">
                                                    <div class="modality">
                                                        <strong
                                                            class="
                                                                visible-xs-inline-block
                                                            "
                                                            >Modality:</strong
                                                        >
                                                    </div>
                                                    <div class="modalityArea">
                                                        {{phaseRow.phase-col2}}
                                                    </div>
                                                </span>
                                            </span>
                                            <span class="width3">
                                                <span class="phaseRowTxt">
                                                    <div class="areaOfResearch">
                                                        <strong
                                                            class="
                                                                visible-xs-inline-block
                                                            "
                                                            >Area of
                                                            Research:</strong
                                                        >
                                                    </div>
                                                    <div class="researchArea">
                                                        {{phaseRow.phase-col3}}
                                                    </div>
                                                </span>
                                            </span>
                                            <span class="width4">
                                                <span class="phaseRowTxt">
                                                    <strong
                                                        class="
                                                            visible-xs-inline-block
                                                        "
                                                        >Phase:</strong
                                                    >
                                                    <span
                                                        class="phaseIndicatorBg"
                                                    >
                                                        <span
                                                            class="
                                                                phaseIndicatorCount
                                                                indicatorTwo
                                                            "
                                                            >{{phaseRow.phase-col4}}</span
                                                        >
                                                    </span>
                                                </span>
                                            </span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="viewDisplayBx">
                                <a href="javascript:;" class="viewAllBut"
                                    >Expand all</a
                                >
                                <span class="displayTxt"
                                    >Displaying
                                    <span class="phaseShow">5</span> of
                                    <span class="phaseTotal">31</span></span
                                >
                            </div>
                        </div>

                        <div class="cardNoResult">
                            <!--                                            <h6 class="cardTitle">--><!--</h6>-->
                            <p>
                                No results found. Try adjusting filters to view
                                more results.
                            </p>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="footnoteBx">
                    <div class="footnoteBx">
                        {{item.tab-footnote.footnote-style1 | markdownify}}

                        <div style="position: relative">
                            {{item.tab-footnote.footnote-image-style | markdownify}}

                            {{item.tab-footnote.footnote-list-item | markdownify}}
                            
                            {{item.tab-footnote.footnote-hang | markdownify}}
                        </div>

                        {{item.tab-footnote.footnote-full | markdownify}}
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
