---
layout: default
pageName: pipeline
---

<div class="thankYouBx gradientBg">
    <div class="container">
        <div class="col-xs-12 col-md-11 thankYouLftCol">
            <div class="dispTable">
                <div class="dispTableCell verticalMiddle">
                    <h3>{{site.data.pipeline.banner.banner-heading}}</h3>
                    <p>{{site.data.pipeline.banner.banner-para}}</p>
                </div>
            </div>
        </div>

        <span class="bannerImage hidden-xs hidden-sm">
            <img
                src="{{site.data.pipeline.banner.banner-image}}"
                width="246"
                height="257"
                alt=""
                class="img-responsive"
            />
        </span>
    </div>
</div>

<!-- content box1 start -->
<div class="pipelineCont1">
    <div class="container">
        {{site.data.pipeline.sthp-content | markdownify}}
    </div>
</div>
<!-- content box1 end -->

<!-- tabSection start -->
<div class="container">
    <div class="pipelineTab">
        <!-- Tab Thumb -->
        <ul class="tab-thumb">
            {% for item in site.data.pipeline.tab.tab-info %}
            <li class="nav-item {% if forloop.first == true %} active{% endif %}">
              <a class="nav-link" data-toggle="tab" href="#tab{{ forloop.index0 }}">{{item.tab-header}}</a>
            </li>
            {% endfor %}
            <!-- <li class="active">
                <a href="#solid-tumor" data-toggle="tab">
                    <span class="lftBg">
                        <span class="rhtBg">
                            <span class="midBg">Solid Tumor</span>
                        </span>
                    </span>
                </a>
            </li>
            <li class="">
                <a href="#hematology" data-toggle="tab">
                    <span class="lftBg">
                        <span class="rhtBg">
                            <span class="midBg">Hematology</span>
                        </span>
                    </span>
                </a>
            </li> -->
        </ul>

        <div class="tab-content">
            {% for item in site.data.pipeline.tab.tab-info %}
            <div class="tab-pane fade {% if forloop.first == true %}in active{% endif %}" id="tab{{ forloop.index0 }}">
                {{item.tab-body | markdownify}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
