<footer class="bms-footer">
    <div class="container">
        <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
                <li id="menu-item-1584646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1584646">
                    <a target="_blank" rel="noopener" href="https://www.bms.com/legal-notice.html">Legal Notice</a>
                </li>
                <li id="menu-item-1584647" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1584647">
                    <a target="_blank" rel="noopener" href="https://www.bms.com/privacy-policy.html">Privacy Policy</a>
                </li>
                <li id="menu-item-2011081" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2011081">
                    <a target="_blank" rel="noopener" href="https://www.bms.com/about-us/contact-us.html">Contact Us</a>
                </li>
            </ul>
        </div>
        <span class="copyRightTxt">© 2021 Bristol-Myers Squibb Company     <span class="last-updated">4/21</span>     <span class="project-code">VV-MED-01814</span></span>
        <div class="clearfix"></div>
    </div>
</footer>