<footer class="bms-footer">
    <div class="container">
        <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
                {% for item in site.data.footer.footer-links %}
                <li class="menu-item menu-item-type-custom menu-item-object-custom">
                    <a target="_blank" rel="noopener" href="{{ item.path }}">{{ item.label }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <span class="copyRightTxt"><span>{{site.data.footer.copyright-text}}</span> <span class="last-updated">{{site.data.footer.last-update}}</span> <span class="project-code">{{site.data.footer.project-code}}</span></span>
        <div class="clearfix"></div>
    </div>
</footer>