<header>

    <!-- logo start -->
    <a href="{{site.baseurl}}/" class="logo">
        <img src="{{site.data.header.logo}}" width="239" height="34" alt="" class="img-responsive">
    </a>

    <!-- logo end -->

    <!-- navigation start -->
    <nav class="mainNav">
        <div class="menu-bms-header-nav-container">
            <ul id="menu-bms-header-nav" class="menu">
                <li id="menu-item-1684813" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-1684803 current_page_item menu-item-1684813 {% if page.pageName contains 'pipeline' %} current-menu-item{% endif %}">
                    <a href="{{site.baseurl}}/" aria-current="page">Pipeline</a>
                </li>
                <li id="menu-item-1685187" class="header-resources menu-item menu-item-type-post_type menu-item-object-page menu-item-1685187 {% if page.url contains 'resources' %} current-menu-item{% endif %}">
                    <a href="{{site.baseurl}}/resources/">Resources</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- navigation end -->

</header>