<header>

    <!-- logo start -->
    <a href="/" class="logo">
        <img src="{{site.data.header.logo}}" width="239" height="34" alt="" class="img-responsive">
    </a>

    <!-- logo end -->

    <!-- navigation start -->
    <nav class="mainNav">
        <div class="menu-bms-header-nav-container">
            <ul id="menu-bms-header-nav" class="menu">
                {% for item in site.data.header.primary-links %}
                    <li class="header-resources menu-item menu-item-type-post_type menu-item-object-page {% if page.url contains item.path %} current-menu-item{% endif %}">
                        <a href="{{ item.path }}">{{ item.label }}</a>
                  </li>
              {% endfor %}

            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- navigation end -->

</header>