.homeChartSection {
  width:100%;
  background:url(#{$path-images}/homeTopTexture.jpg) no-repeat center top #000000;
  background-size:100%;
  padding:125px 0 0px;

  .container {
    position:relative;
  }

  .homeIntroTxt {
    max-width:100%;
	padding: 2% 0 0 0;
	text-align: center;

	@media (max-width: 1200px) and (min-width: 992px){
		padding: 1% 0 0 0 !important;
	}

    h1 {
      @include responsive-type(41px,45px,0.5px);
      color:$white-color;
      font-family: $BMSHumanityBold;
	  padding:0 0 6px;
	 

      span {
        display:block;
        color:$primary-color;
      }
    }

    p {
      @include responsive-type(22px,25px,0.44px);
      color:$gray-color14;
      font-family: $BMSHumanityReg;
	  letter-spacing: 0.5px;
      padding:0 0 41px;
		max-width:100%;

      b {
        font-family: $BMSHumanityBold;
      }
    }


	.input-place{
		padding: 0px 0px 0px 34px !important;
		text-overflow: ellipsis;
		overflow: hidden; 
		white-space: nowrap;
		@media screen and (max-width: 576px) {
			padding: 0px 0px 0px 13px !important;
		  }
		@media screen and (max-width: 320px) {
			padding: 0px 0px 0px 7px !important;
		  }



		  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			padding: 0px 0px 0px 34px !important;
			color: #fff;
		  }
		  ::-moz-placeholder { /* Firefox 19+ */
			padding: 20px 0px 0px 34px !important;
			color: #fff;
		  }
		  :-ms-input-placeholder { /* IE 10+ */
			padding: 20px 0px 0px 34px !important;
			color: #fff;
		  }
		  :-moz-placeholder { /* Firefox 18- */
			padding: 20px 0px 0px 34px !important;
			color: #fff;
		  }
		::placeholder {
			text-overflow: ellipsis;
			overflow: hidden; 
			white-space: nowrap;
			@include responsive-type(20px,25px);
			  @media screen and (max-width: 767px) {
				@include responsive-type(15px,20px);
			  }
	
			  @media screen and (max-width: 576px) {
				@include responsive-type(13px,15px);
			  }
		  }


	}
	
	

    .homeSearchSection {
      width:100%;

      .textbox {
        width:100%;
        height:60px;
        background:none;
		border-top:2px solid #fff;
		border-left:2px solid #fff;
		border-bottom:2px solid #fff;
		border-right:0px;
		border-top-left-radius:30px !important;
		border-bottom-left-radius:30px !important;
        outline: none;
        @include responsive-type(20px,22px);
        color:$white-color;
        font-family: $BMSHumanityReg;
		-webkit-text-fill-color: #fff;

		@media screen and (max-width: 992px) {
			height : 40px;
		  }
		@media screen and (max-width: 576px) {
			height : 40px;
			@include responsive-type(13px,15px);
		  }
		
      }

      label {
        @include responsive-type(12px,16px);
        color:$white-color;
        font-family:$helveticaNeueBold;
        display:block;
        padding:8px 0 0 0;
      }

	  .search-label{
		@include responsive-type(20px,20px,0.5px);
		background: $primary-color2;
		border: 2px solid white;
		border-radius: 50px;
		width: 166px;
		padding: 17px 23px;
		margin-left: 0px;
		height: 60px;
		font-family: "proxima-nova";
		cursor: pointer;
		z-index: 9;
		position: relative;
		@media screen and (max-width: 992px) {
			height : 40px;
			position: relative;
			padding: 9px 23px 9px 15px;
			left: 0;
			width: auto;
			border-radius:  0 50px 50px 0;
			font-size: 0;
		  }
		

	  }

      .searchBut {
        width:25px;
        height:25px;
        background:url(#{$path-images}/icon-search-copy.png) no-repeat;
        border:none;
        outline:none;
        cursor: pointer;
        font-size:0;
		display: block;
		float: right;
		@media screen and (max-width: 992px) {
			width:15px;
			height:15px;
			background-size: contain;
		  }

      }
			ul.homeSearchItems{
				.easy-autocomplete-container{
					position: relative;
					ul{
						position: absolute;
						z-index: 10;
						width: 100%;


						li{
							.eac-item{
								.searchItem{
									b{
										font-weight: bold !important;
									}
								}
							}
							&.selected {
								background-color: gainsboro;
							}
						}

					}
				}
				li{
					ul.typeahead{
						// position: relative;
						width: auto;
						li{
							float: none;

						}
					}
				}
			}
      ul.homeSearchItems {
		width:73%;
		@media (max-width: 1200px) and (min-width: 992px){
			width:78% !important;
		}
		@media screen and (max-width: 992px) {
			width: 100%;
			margin-left: 68px;
		  }
		@media screen and (max-width: 576px) {
			width: 100%;
			margin-left: 0px;
		}
	   // float:left;
	   margin: auto;
		display:block;
		// display: flex;
		// flex-wrap: wrap;
        padding:0 0 18px;

        li {
          float:left;
        //   display:block;

          &.inputTxt1 {
            width:60%;
			padding:0;
			@media (max-width: 1200px) {
				width:54% !important;
			}

			@media screen and (max-width: 991px) {
				width:75% !important;
			  }

			  @media screen and (max-width: 576px) {
				width: calc(100% - 65px) !important;
			  }
          }

          &.inputTxt2 {
            width:20%;
			padding:0;
			cursor: pointer;
			@media screen and (max-width: 991px) {
				display: none;
				
			  }
          }

          &.inputBut {
			width:20%;
			min-width: 166px;
			float:right;
			
			@media screen and (max-width: 992px) {
				
				width: auto;
				min-width: auto;
				float: left;
			  }
          }
        }
      }
    }
  }


  .link-position{    
	font-size: 12px;
	float: left;
    margin-top: 19px;
	margin-left: 35px;
	text-decoration: underline;
	position: relative;
	z-index: 1;
	color: #54bceb !important;
	@media screen and (max-width: 576px) {
		margin-left: 10px;
		
	  }
  }

  .pieChartSection {
	margin-left: 16%;
    min-height: 335px;
    margin-top: 5px;
    position: relative;
    margin-right: 15%;
	margin-bottom: -70px;
	@media screen and (max-width: 991px) {
		margin-left: 13%;
		margin-right: -10%;
		min-height: 260px;
	   }
	    
	  
    .otherText{
		color: #b9b9b9;
		@include responsive-type(16px,20px);
		font-family:$BMSHumanityReg;
		font-style: normal;
		margin: 24% 10% 16% 0;	
		position:relative;
		border-left: 1px solid #00b4e2;
    	padding-left: 20px;

		@media (max-width: 1200px) {
			margin: 30% 10% 16% -20px;	
		}

		@media screen and (max-width: 991px) {
			margin-left: -3%;
			margin-right: 21%;
			margin-top: 28%;
			font-size:12px;
			line-height:16px;
		   }
		
		@media screen and (max-width: 767px) {
			width: 100%;
    		position: relative;
    		left: 0;
    		margin: 0px 0 30px 0 !important;
		   }

		
		sup {
			font-size:75%;
			line-height: 1.2em;
			vertical-align: top;
			
			&.astrix {
				font-size:100%;
			}
			
			&.hang {
				position:absolute;
				top:0;
				left:-5px;
			}
		}
		
		.otherTxtLine {
			display:block;
			padding:0;
			color: $gray-color14;
			font-family: $BMSHumanityReg;
			letter-spacing: 0.21px;
			@include responsive-type(14px,18px);
			@media screen and (max-width: 767px) {
				@include responsive-type(14px,17px);
			}
		}
		
		h6 {
			@include responsive-type(16px,18px);
			font-family: $BMSHumanityReg;
			font-style: normal;
			font-weight: 400;
			color:$white-color;
			padding:15px 0 20px 0;


		}
	}
	



    #canvas-holder{
	  position: relative;
	  display:flex;
	  margin:0 0 40px;

	  @media (max-width:767px){
		  display:block;
	  }

    //   &:before{
    //     content: ""; 
    //     //background:url(#{$path-images}/border-right.png) no-repeat;
    //     position: absolute;
    //     width: 310px;
    //     height: 38px;
    //     background-size: 100%;
    //     left: 70px;
    //     margin-top: -46px; 
    //   }
    //   &:after{
    //     content: ""; 
    //    //background:url(#{$path-images}/border-left.png) no-repeat;
    //     position: absolute;
    //     width: 310px;
    //     height: 32px;
    //     background-size: 100%;
    //     left: 70px;
    //     margin-top: 0px; 
	// 	  top:460px;
    
    //   }
      .filterDiv{
		margin-top:50px;
		margin-left: 20px;
		@media (max-width: 1200px) and (min-width: 992px) {
			margin-top:26px !important;
			margin-left: 0px;
			width:198px;
		  }
		@media screen and (max-width: 992px) {
			margin-top:20px;
			margin-left: 0px;
		  }
		@media screen and (max-width: 576px) {
			margin-top:0px;
			margin-left: 0px;
		  }
	  }

	  .filterDivPhase{
		margin-top:96px;
		margin-right: -36px;
		@media (max-width: 1200px) and (min-width: 992px) {
			margin-top:70px !important;
			margin-left: -15px;
			margin-right: -30px;
		  }
		@media screen and (max-width: 992px) {
			margin-top:59px;
			margin-left: 0px;
			margin-right: -30px;
		  }
		  @media screen and (max-width: 767px) {
			margin-top:20px;
		   } 
		@media screen and (max-width: 576px) {
			margin-top:0px;
			margin-left: 0px;
			margin-right: 0px;
			position: relative;
			left: 20px;
		  }
	  }

	  .filterPos{
		margin-left: -20px;
		@media screen and (max-width: 767px) {
			margin-left:0px;
		   } 
	}



      .masterlegends{
		p.filterText{
			@include responsive-type(18px,25px); 
			color: white;
			margin-bottom: 10px;
			&:before {
				width:14px;
				height:16px;
				object-fit: contain;
				content: "";
				background:url(../images/icon-filter.png) no-repeat;
				position:absolute;
				top:4px;
				left:-10px;
				
				@media screen and (max-width: 767px) {
					left: 60px;
				  }
				  @media screen and (max-width: 576px) {
					left:10px;
				  }
				
			}
			@media screen and (max-width: 576px) {
				@include responsive-type(16px,20px); 
				// margin-left: 36px;
			  }
		}
		
		p{margin-bottom: 5px;padding: 0px; color: white;font-size: 14px;}
		
		
		.trialFilter .mobileLegendsItem, #phaseLegend{position: relative;display: block; 
			
			@media screen and (max-width: 767px) {
				// margin-left: -25px;
			  }
			}
		.home .mobileLegendsItem, #phaseLegend{position: relative;display: block;margin-bottom:10px; 
			
			@media screen and (max-width: 767px) {
				// margin-left: -25px;				  
				}
			}
        [for=js-label-filter-other] {
			.astrix {
				display: inline-block;
				position: static;
				height: auto;
				width: auto;
			}    	  
		}
      }
      .chart{
        width: 482px;height: 482px;position: absolute;top: 0; z-index: 9;
        #statusChart{width: 482px !important;height: 482px !important;position: absolute;right: 0px;top: 0px;}
        #phaseChart{width: 356px !important;height: 356px !important;position: absolute;right: 0px; left: 50%;top: 50%;transform: translate(-50%,-50%);}
	  
		@media screen and (max-width: 767px) {
			z-index: 0;
		}

        .chartInfo {
			display: table;
			width: 100%;
			//height: 100%;
			text-align: center;
			display: block;
			width: 215px;
			z-index: 999;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
            .chartInfoInner {
				color: white;
				display: block;
				font-family:"proxima-nova";
				font-style:normal;
				font-weight:700;
				cursor: pointer;
              span.countNumber{
				  @include responsive-type(57px,57px);
				  display: block;
				  cursor: pointer;
				  font-family:"proxima-nova";
				  font-weight: bold;
				  color:#414141;

				  @media (max-width:767px){
					  font-size:48px;
					  line-height:48px;
				  }
				}
              span.chartText{
				  @include responsive-type(30px,44px);
				  display: block;
				  font-family:"proxima-nova";
				  font-weight: bold;
				  margin-top: 4px;
				  color: #414141;
				  &.top{
					@include responsive-type(21px,22px);
					color:$purple-color1;
					margin-bottom: 15px	;
				  }
				  &.right-arrow{
					  position: relative; 
					  span{
						  position: relative;
						  padding-right: 20px;
						  color:#414141;
						&::after{
							content: '';
							display: block;
							width: 10px;
							height: 18px;
							position: absolute;
							background: url(../images/stroke-1-copy.png) no-repeat;
							right: 0;
							top: 6px;
							z-index: 2;
							@media (min-width: 992px){
								top: 11px;
							}
							@media (max-width: 767px){
								top: 11px;
							}							
						}
					}
				  }
				}
				span.no-data-text{
					@include responsive-type(14px,18px);
					margin-top: 3px;
					color: $gray-color14;
				}
				.resetFiltersLink { 
					@include responsive-type(12px,14px);
					font-family: $BMSHumanityReg;
                    display: none;
					font-style: normal;
					color: #fff;
					position: relative;
					z-index: 1000;
					clear: both;
					cursor: pointer;
					width: 80px;
					margin: 20px auto 0;
					text-decoration: underline;
					
				}
				&:hover, &:focus{
					span.countNumber{
						color: $purple-color1;
					}
					span.chartText{
						color: $purple-color1;
					}
				}
            }
        }
      
      }
    }
  }

  [class$="-legend"] {
    list-style: none;
    cursor: pointer;
    padding-left: 0;
    position: relative;
  }

  [class$="-legend"] li {
    display: block;
    padding: 0 5px;

    color: #b9b9b9;
    font-size: 12px;
    margin-bottom: 4px;
    padding: 4px 10px;
    font-weight: normal;

  }

  [class$="-legend"] li.active {
    font-weight: normal;
    color: white;

  }

  [class$="-legend"] li span {
    border-radius: 5px;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    width: 10px;
  }

}

.mobileLegendsItem {
	max-width:180px;
	
	@media screen and (max-width: 576px) {
		max-width:100%;
	}

	
	ul {
		li {
			display:inline-block;
			min-width:120px;
			border:1px solid transparent;
			border-radius:15px;
		}
	}
}

#phaseLegend {
	max-width:200px;
	
	ul {
		li {
			display:inline-block;
			min-width:120px;
			border:1px solid transparent;
			border-radius:15px;
		}
	}
}


	.status-items {		
		ul {
			li {
				&.active:nth-child(1) {
					border:2px solid #cb7c78;
				}
				&.active:nth-child(2) {
					border:2px solid #59ffb9;
				}
				&.active:nth-child(3) {
					border:2px solid #33d6f1;
				}
				&.active:nth-child(4) {
					border:2px solid #2fa247;
				}
				&.active:nth-child(5) {
					border:2px solid #6ce120;
				}
				&.active:nth-child(6) {
					border:2px solid #4beade;
				}
			}
		}
	}
	.phase-items {		
		ul {
			li {
				&.active:nth-child(1) {
					border:2px solid #ffd186;
				}
				&.active:nth-child(2) {
					border:2px solid #cb472b;
				}
				&.active:nth-child(3) {
					border:2px solid #ed782c;
				}
				// &.active:nth-child(4) {
				// 	border:2px solid #ed782c;
				// }
				// &.active:nth-child(5) {
				// 	border:2px solid #eeee13;
				// }
				// &.active:nth-child(6) {
				// 	border:2px solid #ff00c3;
				// }
			}
		}
	}

.conditionBx {
	margin:0 0 20px;
	float: left;
	width: 420px;
	.youSpeciality{
		    // display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-bottom: 0px;
    margin-bottom: 15px;
	
		
	}
	.allSpeciality{display: none;}

	@media (max-width: 1200px) {
		margin: 10px -20px 20px;
		width: 402px;
	}
	@media screen and (max-width: 991px) {
		width: 350px;
	}
	@media screen and (max-width: 767px) {
		margin: 10px 0px 20px;
		width: 500px;
	}	
	@media screen and (max-width: 576px) {
		margin: 10px 0px 20px;
		width: 370px;
	}
	@media screen and (max-width: 410px) {
		margin: 10px 0px 20px;
		width: 300px;
	}


	h6 {
		@include responsive-type(16px,18px);
		font-family: "proxima-nova";
		font-style: normal;
		font-weight: 400;
		color:$white-color;
		padding:15px 0 20px 0;

		@media screen and (max-width: 767px) {
			@include responsive-type(18px,20px) ;
		  }
	}
}

.switchBx {
	float:left;
	@include responsive-type(12px,14px);
	font-family: "proxima-nova";
	font-style: normal;
	font-weight: 400;
	color:$white-color;
	position:relative;
	padding:0 20px 0 0;
	
	.tourPopup {
		&.smallSize  {
			height:60px;
			left: -200px;
      top: -21px;
      z-index: 99;
		}
	}
	
	.btn-toggle {
		border:1px solid #fff;
		border-radius:15px;
		margin:0 4px 0 0;
		
		.btn {
			font-size:0px;
			background:none;
			border:none;
			padding:0;
			width:10px;
			height:10px;
			outline: none;
			border-radius:50% !important;
			
			&.active {
				background:#fff;				
				border-radius:50%;
			}
		}	
	}	
}

.editSpecialties {
	float:right;
	@include responsive-type(12px,14px);
	font-family: "proxima-nova";
	font-style: normal;
	font-weight: 400;
	color:$white-color;

	@media screen and (max-width: 576px) {
		float: none !important;
		margin-top: 35px;
	  }
	@media screen and (max-width: 410px) {
		float: none !important;
		margin-top: 35px;
	  }
	
	a {
		color:$white-color;	
		position:relative;
		display:inline-block;
		text-decoration: none;
		padding:0 0 0 24px;

		@media screen and (max-width: 576px) {
			margin-top: 5px;
		  }
		
		&:before {
			width:13px;
			height:13px;
			content: "";
			background:url(../images/editIconWhite.png) no-repeat;
			position:absolute;
			top:0;
			left:0;
		}
	}
	
}

.logged-in .conditionBx {
	display:inline-block;
}

.customDropdown {
	min-height:174px;
}

.masterlegends{
	@media (max-width: 767px) {
		// margin-left: 13%;
	}
	@media (max-width: 576px) {
		margin-left: 0%;
	}	
}

@media (max-width: 767px) {
  .masterlegends {
    display: flex;
	flex-wrap: wrap;

    & .filterText {
      width: 100%;
    }

    & .status-legends {
      padding-right: 30px;
    }
  }
  .customDropdown {
    margin-left: 0;
	  min-height:150px;
  }
}

/* Search button. */
.searchButtonStyle {
  background-color: #ff3b45;
  border: 0;
  border-radius: 25px;
  cursor: pointer;
  display: none;
  font-size: 13px;
  color: #fff;
  font-family: $BMSHumanityReg;
  padding: 12px 24px;
  position: relative;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  z-index: 1000;
}


// .mobileLegendsItem li input + label::before, .widget_ep-facet .term a::before{
//   width: 11px;
//   height: 11px;
//   top:7px;
//   border-radius: 100%;
// }

.mobileLegendsItem li label, .widget_ep-facet .term a {
	padding:6px 10px 6px 25px;
	cursor: pointer;
}



